<div class="col-md-12">
    <form class="form">
        <div class="row">
            <div class="col-md-8 d-flex align-content-center flex-wrap">
                <mat-form-field>
                    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                        <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                        <span>{{state.name}}</span> |
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-slide-toggle
                    [checked]="stateCtrl.disabled"
                    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
                    Disable Input?
                </mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
