<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form class="form" [formGroup]="frmLogin" (submit)="ingresar()" novalidate>
            <div *ngIf="message" class="alert border border-danger text-danger mt-3 mb-2">
                <strong>{{message}}</strong>
            </div>
              <mat-form-field>
                <input matInput type="email" formControlName="email" placeholder="Correo electrónico">
                <mat-icon matSuffix *ngIf="frmLogin.get('email').valid" class="text-success">done</mat-icon>
                <mat-error *ngIf="frmLogin.get('email').errors">
                    {{ frmLogin.get('email').errors.message }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="!hide?'password':'text'" formControlName="password" placeholder="Escribe contraseña">
                <mat-icon matSuffix (click)="hide = !hide">{{ !hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-icon matSuffix *ngIf="frmLogin.get('password').valid" class="text-success">done</mat-icon>
                <mat-error *ngIf="frmLogin.get('password').errors">
                    {{ frmLogin.get('password').errors.message }}
                </mat-error>
            </mat-form-field>
            <a [routerLink]="['/register']"> Registrarme.</a> | 
            <a [routerLink]="['/remember_pass']"> Olvide mi contraseña.</a><br>
            <button mat-raised-button type="submit" class="float-right" color="primary">Ingresar.</button>
        </form>
    </div>
</div>
